// @import "~bootstrap/dist/css/bootstrap";
@import '../../semantic/dist/semantic.min.css';

html, body {
  font-size: 62.5%; //10px
  font-family: Helvetica, Arial, sans-serif;
}

button:focus {
  outline: 0;
  border: 0;
}

@import './components/Header';
@import './components/Page404';
@import './components/FractionForm';